<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <customFields>{"app":"order-service"}</customFields>
            <includeCallerData>true</includeCallerData>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="JSON"/>
    </root>
</configuration>